{% extends "main.html" %}
{% block content %}
{% include "header_wo_login.html" %}

<div class="row">
  <div class="column left">
    <strong>Categories</strong><br>
    {% for i in catalog %}
	<a href = "{{ url_for('showSpecificItems',category_name=i.name) }}">{{i.name}}</a></br>
    {% endfor %}
  </div>
  <div class="column right">
    <a href="{{url_for('newItem')}}"> Add Item </a><br><br>
    <strong>Latest Items</strong><br>
    {% for key, value in data.iteritems() %}
	<a href = "{{ url_for('catalogItem',category_name=value, categoryitem_name=key) }}"> {{key}} <span style="color:#8B8589"><i>({{value}})</i></span></a></br>
    {% endfor %}
</div>

{% endblock %}
